<ion-header>
  <ion-toolbar>
    <ion-title >catalogo</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="principal"></ion-back-button>
    </ion-buttons>

    <ion-buttons  slot="end" (click)="detalleCompra()">
      <strong>{{totalProductos}}</strong>
      <ion-icon class="icon" name="cart-outline"></ion-icon>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="cat" *ngFor="let item of listaCatalogo">
   <ion-row class="hola">
     <ion-col (click)="item.expanded=!item.expanded" class="back" >
       <b >{{item.categoria}}
    
       </b>
     </ion-col>
   </ion-row> 

   <ion-slides [options]="sliderConfig">
    <ion-slide *ngFor="let prod of item.productos">
      <div *ngIf="item.expanded">
        <ion-card>
          <ion-card-header>
            {{prod.nombre}} -$ {{prod.precio}}
          </ion-card-header>
        <ion-card-content>
          <img class="img" [src]="prod.foto">
          <ion-button (click)="cargarCarrito(prod)" expand="full" color="medium">Comprar</ion-button>
        </ion-card-content>

        </ion-card>
      </div>
    </ion-slide>
  </ion-slides>

  </div>
</ion-content>
