.img{
    height: 80px;
    width:80px;
    max-width:640px;
}
.back{
    background: rgba(255,197,82,1);
    text-align: center;
    padding-top: 5px;
    border-block-end: 0cm;
    border-color: black;
}

.cat{
    margin-bottom: 6px;
}

.icon {
    font-size: 35px;
    color: #ffC977;
}
