<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="False" menu="primerMenu"></ion-menu-button>

    </ion-buttons>
    <ion-title>Principal</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-avatar>
        <img src="/assets/img/LOGO-TIC-3D-FIN.png">
      </ion-avatar>

    </ion-buttons> -->

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-avatar>
    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
  </ion-avatar>
  
  <ion-chip>
    <ion-avatar>
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label>Chip Avatar</ion-label>
  </ion-chip>
  
  <ion-item>
    <ion-avatar slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label>Item Avatar</ion-label>
  </ion-item>

  <!--botones  -->

  <ion-row>
    <ion-button routerLink="/botones">Botones</ion-button>
  </ion-row>
  
  <ion-row>
    <ion-button routerLink="/card">Card</ion-button>
  </ion-row>
  
  <ion-row>
    <ion-button routerLink="/datetime">DateTime</ion-button>
  </ion-row>
  
  <ion-row>
    <ion-button routerLink="/listas">Listas</ion-button>
  </ion-row>
  
 
</ion-content>
